<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-11">
				<div>
					<h1 style="text-align:center;">Bring your ideas to life</h1>
				</div>
			</div>
			<div class="col-xs-1">
				<a href="#" style="margin: 15px 0;" class="btn btn-success" data-toggle="modal" data-target="#submitIdea">{{fa-icon "plus"}}</a>

				<div class="modal fade" id="submitIdea" tabindex="-1" role="dialog" aria-labelledby="submitIdea" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h1> Submit your Idea!</h1>
							<form class="form-horizontal" {{action "addIdea" on="submit"}}>
								<div class="modal-body">
									<div class="form-group">
										<label for="title" class="sr-only">Title</label>	
										{{input id="title" class="form-control" type="text" placeholder="Enter the title" value=ideaTitle}}
									</div>
									<div class="form-group">
										<label for="body" class="sr-only">Idea Body</label>
										{{textarea rows="3" id="body" class="form-control" type="text" placeholder="elaborate..." value=ideaBody}}
									</div>
								</div>
								<div class="modal-footer">
									<div class="form-group">
										<button type="submit" class="btn btn-success" data-dismiss="modal" {{action "addIdea"}}>
											Submit your idea!
										</button>
									</div>	
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<ul id="ideas" class="list-unstyled">
					{{#each idea in model}}
						<div class="row">
							<div class="col-xs-12">
								<li>
									<div class="row">
										<div class="col-xs-3 col-sm-2">
											<div class="row">
												<div class="col-xs-12">
													<button class="killIdea btn btn-danger" {{action "destroyIdea" idea}}>{{fa-icon "close"}}</button>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<button class="visitIdea btn btn-default" {{action "visitIdea" idea}}> {{fa-icon "angle-double-right"}} </button>
												</div>
											</div>
										</div>
										
										<div class="idea col-xs-9 col-sm-10">
											<span class="h3"> {{idea.title}} </span>
											<p>{{idea.body}}</p>
										</div>
									</div>
								</li>
							</div>
						</div>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>