<div>
	<h1 style="text-align:center;">Bring your ideas to life</h1>
</div>

{{input type="text" placeholder="Title" value=ideaTitle action="addIdea"}}
{{input type="text" placeholder="Body" value=ideaBody action="addIdea"}}
<button class="btn btn-default" {{action "addIdea"}}>Submit your idea!</button>

<div>
	<ul id="ideas">
		{{#each idea in model}}
			<li> <button class="btn btn-default" {{action "destroyIdea" idea}}>{{fa-icon "close"}}</button> 
			<div style="cursor:pointer;" class="idea" {{action "transition" idea}}>
				<span class="h3"> {{idea.title}}</span>
				<p>{{idea.body}}</p>
			</div>
			</li>
		{{/each}}
	</ul>

</div>