<div>
	<h1 style="text-align:center;">Bring your ideas to life</h1>
</div>

{{input type="text" placeholder="Title" value=ideaTitle action="addIdea"}}
{{input type="text" placeholder="Body" value=ideaBody action="addIdea"}}
<button class="btn btn-default" {{action "addIdea"}}>Submit your idea!</button>

<div>
	<ul id="ideas">
		<div class="container-fluid">
			{{#each idea in model}}
			<div class="row">
				<li> 
					<div class="col-xs-1">
						{{!-- <div class="container"> --}}
							<div class="row">
								<div class="col-xs-12">
									<button class="killIdea btn btn-danger" {{action "destroyIdea" idea}}>{{fa-icon "close"}}</button>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button class="visitIdea btn btn-default" {{action "visitIdea" idea}}> {{fa-icon "angle-double-right"}} </button>
								</div>
							</div>
						{{!-- </div> --}}
					</div>
					
					<div class="idea col-xs-11">
						<span class="h3"> {{idea.title}} </span>
						<p>{{idea.body}}</p>
					</div>
				
				</li>
			</div>
		{{/each}}
		</div>
	</ul>

</div>