<div>
	<h1 style="text-align:center;">Bring your ideas to life</h1>
</div>

{{input type="text" value=ideaTitle action="addIdea"}}
<button {{action "addIdea"}}>Add Idea!</button>

<div>
	<ul id="ideas">
		{{#each idea in model}}
			<li> <button class="btn btn-default" {{action "delIdea" idea}}>{{fa-icon "close"}}</button> 
			<div class="idea">
				<span class="h3"> {{idea.title}}</span>

				<p>{{idea.body}}</p>
			</div>
			</li>
		{{/each}}
	</ul>
</div>