<div id="user-profile">
	<div class="row">
		<div class="col-xs-3">
			<img {{bind-attr src=avatar}} class="img-responsive img-thumbnail" alt="User Profile Image">
		</div>
		<div class="col-xs-9">
			<div class="row">
				<div class="col-xs-12">
					<h2 id="username">
						{{username}}
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<span>{{about}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-9">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active">
					<a href="#home" class="active" aria-controls="home" role="tab" data-toggle="tab">Home</a>
				</li>
				<li role="presentation">
					<a href="#ideas" aria-controls="ideas" role="tab" data-toggle="tab">Ideas</a>
				</li>
				<li role="presentation">
					<a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a>
				</li>
			</ul>
			
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="home">
					{{render 'user-home' model}}
				</div>
				<div role="tabpanel" class="tab-pane fade" id="ideas">
					{{render 'user-ideas' model}}
				</div>
				<div role="tabpanel" class="tab-pane fade" id="comments">
					{{render 'user-comments' model}}
				</div>
			</div>
		</div>
	</div>
</div>
